In [1]:
a = [ 100, 200, 300 ]
print(a)

[100, 200, 300]

In [2]:
print(a[1])
a[2] = 500
print(a)

200
[100, 200, 500]

In [3]:
row0 = [1, 4, 7]
row1 = [2, 5, 8]
row2 = [3, 6, 9]

In [4]:
print(row1)

[2, 5, 8]

In [5]:
print(row1[2])

8

In [6]:
table = [ row0, row1, row2 ]

In [7]:
print(table[1])

[2, 5, 8]

In [8]:
print(table[1][2])

8

In [9]:
print(table)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [10]:
table2 = [[1, 4, 7], [2, 5, 8], [3, 6, 9]]
print(table2[1][2])
print(table2)

8
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [11]:
table3 = [
    [1, 4, 7], # 0列のデータ
    [2, 5, 8], # 1列のデータ
    [3, 6, 9]  # 2列のデータ
]
print(table3[1][2])
print(table3)

8
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [12]:
table4 = [
    [1, 2, 3], # 0行のデータ
    [4, 5, 6], # 1行のデータ
    [7, 8, 9]  # 2行のデータ
]
print(table4[2][1])
print(table4)

8
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]